@using PrimeGearApp.Web.ViewModels.ProductViewModels;
@using PrimeGearApp.Data.Models;
@model EditProductViewModel;

@foreach (var property in Model.ProductTypeProperties)
{
    <div class="form-group">
        <label for="ProductProperty_@property.ProductTypePropertyId">@property.ProductTypePropertyName</label>

        @if (property.ValueTypeId == 4)
        {
            <select name="ProductProperties[@property.ProductTypePropertyId]" class="form-control" required>
                @if (bool.TryParse(property.Value, out bool boolValue))
                {
                    @if (boolValue)
                    {
                        <option value="" disabled>-</option>
                        <option selected value="true">Yes</option>
                        <option value="false">No</option>
                    }
                    else
                    {
                        <option value="" disabled>-</option>
                        <option value="true">Yes</option>
                        <option selected value="false">No</option>
                    }
                }
            </select>
        }
        else if (property.ValueTypeId == 2 || property.ValueTypeId == 3)
        {
            <input name="ProductProperties[@property.ProductTypePropertyId]" class="form-control" required min="0" value="@property.Value"
                   type="number" />
        }
        else
        {
            <input name="ProductProperties[@property.ProductTypePropertyId]" class="form-control" required value="@property.Value"
                   type="text" />
        }

        <span asp-validation-for="ProductProperties[@property.ProductTypePropertyId]" class="text-danger"></span>
    </div>
}
